[submodule "483fa21"]
	path = src/483fa21
	url = git@gitlab.com:eecs-483/website.git
[submodule "483fa22"]
	path = src/483fa22
	url = git@gitlab.eecs.umich.edu:483-fa22/private/website.git
[submodule "src/483-fa23"]
	path = src/483-fa23
	url = git@gitlab.eecs.umich.edu:483-fa23/private/website.git
[submodule "src/483-wi24"]
	path = src/483-wn24
	url = git@gitlab.eecs.umich.edu:483-wi24/private/course-materials.git
