<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        <a href="/">Max S. New</a>
      </div>
      <div id="navigation">
        <a href="/docs/maxsnew-cv.pdf">CV</a>
        <a href="/publications.html">Publications</a>
        <a href="/blog.html">Blog</a>
        <a href="/misc.html">Misc</a>
      </div>
    </div>
    <div id="content">
      $body$
    </div>
  </body>
</html>
