<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
  </head>
  <body>
    <!-- <div id="header"> -->
    <!--   <\!-- <div id="logo"> -\-> -->
    <!--   <\!--   <a href="/">My Hakyll Blog</a> -\-> -->
    <!--   <\!-- </div> -\-> -->
    <!--   <div id="navigation"> -->
    <!--     <a href="/">Home</a> -->
    <!--     <\!-- <a href="/blog.html">Blog</a> -\-> -->
    <!--     <\!-- <a href="/publications.html">Publications</a> -\-> -->
    <!--     <\!-- <a href="/about.html">About</a> -\-> -->
    <!--     <\!-- <a href="/projects.html">Projects</a> -\-> -->
    <!--     <\!-- <a href="/archive.html">Archive</a> -\-> -->
    <!--   </div> -->
    <!-- </div> -->
    <div id="content">
      $body$
    </div>
  </body>
</html>
