body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
	   /* color: #555; */
}

h1 {
    /* margin-top: 1em; */
    /* padding-top: 1em; */
}

h1, h2, strong {
    color: #333
}

a {
    color: #8E44AD;
}
/* body { */
/*     color: black; */
/*     font-size: 16px; */
/*     margin: 0px auto 0px auto; */
/*     width: 600px; */
/* } */

div#header {
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

/* div#footer { */
/*     border-top: solid 2px black; */
/*     color: #555; */
/*     font-size: 12px; */
/*     margin-top: 30px; */
/*     padding: 12px 0px 12px 0px; */
/*     text-align: right; */
/* } */

/* h1 { */
/*     font-size: 24px; */
/* } */

/* h2 { */
/*     font-size: 20px; */
/* } */

/* div.info { */
/*     color: #555; */
/*     font-size: 14px; */
/*     font-style: italic; */
/* } */

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
}

td {
  text-align: left;
}
button {
      color: #fff;
  background-color: #16E826;
  text-shadow: -1px 1px #417cb8;
  border: none;

  display: inline-block;
  /* margin: 0 10px 0 0; */
  /* padding: 15px 45px; */
  font-size: 32px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 20px;
}
button:hover {
  background-color: #44a93d;
  text-shadow: -1px 1px #27496d;
}
button:active {
  background-color: #248A2B;
  text-shadow: -1px 1px #193047;
}

button:focus {
  outline: none
}

img#selfportrait {
  float: right;
  margin: 0 0 0 100px;

}
